/* body {
    background-image: url("../6.Weather-Dashboard/Assets/Blurred-Background-Sunset-3c-Free.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover; 
} */

body {
    background-color: whitesmoke;
}

h1{
    margin-top: -2rem;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 4rem;
    font-weight: 600;
}

p, a{
    font-family: 'Roboto Condensed', sans-serif;
    background: transparent;
    border: none;
}

h3, h4, h5{
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 600;
    background: transparent;
    border: none;
}

.jumbotron{
    background-color: #414447;
    color: whitesmoke;
    height: 4rem;
    margin-bottom: 0px;
}

.low{
    border-radius: 6px;
    background-color: green;
    padding: 5px;
    color: whitesmoke;
}

.moderate{
    border-radius: 6px;
    background-color: yellow;
    padding: 5px;
    color: #414447;
}

.high{
    border-radius: 6px;
    background-color: orange;
    padding: 5px;
    color: #414447;
}

.vhigh{
    border-radius: 6px;
    background-color: red;
    padding: 5px;
    color: whitesmoke;
}

.extreme{
    border-radius: 6px;
    background-color: violet;
    padding: 5px;
    color: whitesmoke;
}

.searchCol{
    height: 100vh;
    background-color: whitesmoke;
    padding-top: 1rem;
    padding-right: 2rem;
    margin-right: -1rem;
}

.footer {
    background-color: #414447;
}

.card {
    background-color: #b8daff;
}